{% extends 'base.html' %}

{% block main %}

<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Log In</h2>

        <div class="d-flex align-items-center justify-content-center">

            <div class="col-12 col-sm-6 col-md-5">
                <form method="post" class="login-form">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                    <div class="card">
                        <div class="card-header">
                            Error
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div class="form-group mt-2">
                        <label for="{{ field.label_tag_id }}" class="">
                            {{ field.label_tag }}
                        </label>

                        {{field }}

                        <div> {{ field.errors }} </div>
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-outline-dark px-5 mt-3">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}