<h5>Cost Structure</h5>
<ul class="list-group">
    {% for cost_structure in cost_structures %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ cost_structure.structure }}
        <a class="btn btn-sm text-danger fw-bolder" href="{% url 'canvas:delete-cost-structure' cost_structure.id %}">
            x
        </a>
    </li>
    {% endfor %}
</ul>
<form class="form-inline mt-3" action="{% url 'canvas:add-cost-structure' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="structure" type="text" placeholder="type.." aria-label="Structure" />
    <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
        Add
    </button>
</form>