<h5>Customer Relationships</h5>
<ul class="list-group">
    {% for relationship in customer_relationships %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ relationship.relationship }}
        <a class="btn btn-sm text-danger fw-bolder"
            href="{% url 'canvas:delete-customer-relationship' relationship.id %}">
            x
        </a>
    </li>
    {% endfor %}
</ul>
<form class="form-inline mt-3" action="{% url 'canvas:add-customer-relationship' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="relationship" type="text" placeholder="type.."
        aria-label="Relationship" />
    <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
        Add
    </button>
</form>