<div class="section">
    <h6>
        Customer Relationships
    </h6>
    <ul class="list-group">
        {% if customer_relationships %}
        {% for relationship in customer_relationships %}
        <li>
            <div>
                <span class="counter green-counter"> {{ forloop.counter }}</span>
                {{ relationship.relationship }}
            </div>
            <a class="close-btn" href="{% url 'canvas:delete-customer-relationship' relationship.id %}">
                x
            </a>
        </li>
        {% endfor %}
        {% else %}
        <p class="text-secondary">
            No customer relationships
        </p>
        {% endif %}
    </ul>
    <form class="form-inline mt-3" action="{% url 'canvas:add-customer-relationship' %}" method="post">
        {% csrf_token %}
        <input name="relationship" type="text" placeholder="Add Customer Relationship" aria-label="Relationship" />
        <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
            Add
        </button>
    </form>
</div>