<nav class="navbar navbar-expand-md navbar-light bg-light px-1 px-md-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="navbar-logo">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#0F62FE"
                        d="M35.3,-43.8C43.5,-35.2,46.3,-21.9,48.5,-8.7C50.7,4.6,52.3,17.8,49.1,32.9C45.8,47.9,37.8,64.8,23.1,75.1C8.5,85.5,-12.7,89.3,-25.6,80.3C-38.5,71.3,-43.2,49.4,-53.8,31C-64.4,12.6,-81.1,-2.3,-83.3,-19C-85.6,-35.8,-73.3,-54.3,-57,-61.5C-40.8,-68.7,-20.4,-64.6,-3.4,-60.5C13.6,-56.4,27.1,-52.4,35.3,-43.8Z"
                        transform="translate(100 100)" />
                </svg>
            </span>
            BMC
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <a href="#" class="btn btn-outline-primary btn-sm">
                Logout
            </a>
        </div>
    </div>
</nav>