
<ul class="list-group list-group-flush">
    {% for partner in partners%}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ partner.partner }}
        <a class="btn btn-sm text-danger fw-bolder" href="{% url 'canvas:delete-partnership' partner.id %}">
            x
        </a>
    </li>
    {% endfor %}
</ul>
<form class="form-inline mt-3" action="{% url 'canvas:add-partnership' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="partner" type="text" placeholder="type.." aria-label="Partner" />
    <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
        Add
    </button>
</form>