<h5>Revenue Streams</h5>
<ul class="list-group">
    {% if revenues %} {% for revenue in revenues %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ revenue.stream }}
        <a class="btn btn-sm text-danger fw-bolder" href="{% url 'canvas:delete-revenue-stream' revenue.id %}">
            x
        </a>
    </li>
    {% endfor %} {% else %}
    <p class="text-secondary">No revenues</p>
    {% endif %}
</ul>
<form class="form-inline mt-3" action="{% url 'canvas:add-revenue-stream' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="stream" type="text" placeholder="type.." aria-label="Stream" />
    <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
        Add
    </button>
</form>