<div class="section">
    <h6>
        Revenue Streams
    </h6>
    <ul class="list-group">
        {% if revenues %}
        {% for revenue in revenues %}
        <li>
            <div>
                <span class="counter"> {{ forloop.counter }}</span>
                {{ revenue.stream }}
            </div>
            <a class="close-btn" href="{% url 'canvas:delete-revenue-stream' revenue.id %}">
                x
            </a>
        </li>
        {% endfor %}

        {% else %}
        <p class="text-secondary">
            No revenue streams
        </p>
        {% endif %}
    </ul>
    <form class="form-inline mt-3" action="{% url 'canvas:add-revenue-stream' %}" method="post">
        {% csrf_token %}
        <input name="stream" type="text" placeholder="Add Revenue Stream" aria-label="Stream" />
        <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
            Add
        </button>
    </form>
</div>