<div class="section">
    <h6>
        Customer Segments
    </h6>
    <ul class="list-group">
        {% if customers %}
        {% for customer in customers %}
        <li>
            <div>
                <span class="counter"> {{ forloop.counter }}</span>
                {{ customer.segment }}
            </div>
            <a class="close-btn" href="{% url 'canvas:delete-customer-segment' customer.id %}"> x
            </a>
        </li>
        {% endfor %}
        {% else %}
        <p class="text-secondary">
            No Customer segments
        </p>
        {% endif %}
    </ul>
    <form class="form-inline mt-3" action="{% url 'canvas:add-customer-segment' %}" method="post">
        {% csrf_token %}
        <input name="segment" type="text" placeholder="Add Customer Segment" aria-label="Segment" />
        <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
            Add
        </button>
    </form>
</div>